<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>chicken stock</title>
  <link rel="shortcut icon" th:href="@{ /images/logo.png }" type="image/x-icon">
  <script src="https://code.jquery.com/jquery-3.6.0.js"></script>
  <script th:src="@{/js/common.js}"></script>
</head>
<body>
<div id="layerPop" style="display:none; width: 70%; height: 770px; position: absolute; z-index: 1;">
  <div class="bg-white rounded-lg d-block d-sm-flex" style="height: max-content;">
    <div class="tab-content p-4 px-md-5" id="v-pills-tabContent">
      <div class="tab-pane fade show active" id="account" role="tabpanel" aria-labelledby="account-tab">
        <h3 class="mb-4">상품 등록</h3>
        <form method="post" action="/item/admin/regist" enctype="multipart/form-data" id="formItemRegist">
          <div class="row">
            <div class="col-12 mb-3">
              <div class="border d-flex flex-wrap justify-content-center align-content-center" style="width:100px; height: 100px; border-radius: 5px;">
                <label class="input-file-button-regist" for="input-file-regist" style="margin-bottom: 0;">
                  <img id="view" class="rounded d-none" src="#" width="100px" height="100px" style="margin-top: 1px; cursor: pointer;">
                </label>
                <input class="form-control" type="file" id="input-file-regist" name="file" style="display:none;">
              </div>
            </div>
            <div class="col-md-12">
              <div class="form-group">
                <label class="mb-2">상품명</label>
                <input type="text" id="itemName" name="itemName" class="form-control" value="" oninput="inputClick(this.id)" required>
                <div class="invalid-feedback">필수 정보입니다.</div>
              </div>
            </div>
            <div class="col-md-6">
              <label for="preCate" class="form-label">1차 카테고리</label>
              <select class="form-select" id="preCate">
                <div th:each="preCategory : ${ itemPreCategoryList }">
                  <option th:text="${ preCategory.categoryName }" th:value="${ preCategory.categoryNo }">식재료</option>
                </div>
              </select>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                <label for="cate" class="form-label">2차 카테고리</label>
                <select class="form-select" name="categoryNo" id="cate">
                  <div th:each="category : ${ itemCategoryList }" th:if="${ category.preCategory == 1}">
                    <option th:text="${ category.categoryName }" th:value="${ category.categoryNo }">식재료</option>
                  </div>
                </select>
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                <label class="mb-2">판매규격</label>
                <input type="text" id="itemStandard" name="itemStandard" class="form-control" value="" oninput="inputClick(this.id)" required>
                <div class="invalid-feedback">필수 정보입니다.</div>
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                <label class="mb-2">제조사</label>
                <input type="text" id="itemMake" name="itemMake" class="form-control" value="" oninput="inputClick(this.id)" required>
                <div class="invalid-feedback">필수 정보입니다.</div>
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                <label class="mb-2">재고량</label>
                <input type="text" id="itemAmount" name="itemAmount" class="form-control" value="" oninput="inputClick(this.id)" required>
                <div class="invalid-feedback">필수 정보입니다.</div>
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                <label class="mb-2">상품 상태</label>
                <select class="form-select" name="itemSoldoutYn" id="soldoutYn">
                  <option value="N">보유</option>
                  <option value="Y">품절</option>
                </select>
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                <label class="mb-2">매입 단가</label>
                <input type="text" id="itemPurchase" name="itemPurchase" class="form-control" value="" oninput="inputClick(this.id)" required>
                <div class="invalid-feedback">필수 정보입니다.</div>
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                <label class="mb-2">매출 단가</label>
                <input type="text" id="itemSales" name="itemSales" class="form-control" value="" oninput="inputClick(this.id)" required>
                <div class="invalid-feedback">필수 정보입니다.</div>
              </div>
            </div>
          </div>
          <div class="mt-3 mb-2 d-flex justify-content-center">
            <button id="registBtn" class="btn btn-warning me-1" type="button" style="color: #fff;">등록</button>
          </div>
        </form>

        <div class="close-btn">
          <a onclick="closeLayer('layerPop')" class="close">
            <i class="fa fa-times close" style="color: #000;"></i>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
</body>
</html>