<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0"/>

    <title>chicken stock</title>
    <link rel="shortcut icon" th:href="@{ /images/logo.png }" type="image/x-icon">
    <link rel="stylesheet" type="text/css" th:href="@{/css/common/common.css}"/>
    <!-- table css -->
    <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" th:href="@{/css/item/item_receive.css}"/>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <!-- datepicker js & css -->
    <script type="text/javascript" src="https://cdn.jsdelivr.net/jquery/latest/jquery.min.js"></script>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/momentjs/latest/moment.min.js"></script>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.min.js"></script>
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.css" />

    <script th:src="@{/js/common.js}"></script>
</head>
<body>
<div class="wrap">
    <!-- S: header -->
    <div th:include="common/adminHeader.html"></div>
    <!-- S: header -->

    <!-- S: container -->
    <div class="container px-0">

        <!-- S: aside -->
        <div th:include="common/adminSidebar.html"></div>
        <!-- E: aside -->

        <!-- S: main layout -->
        <div class="main_layout">
            <div class="main_layout_inner">

                <!-- 작업 영역 -->
                <!-- S: table -->
                <div class="container-fluid" style="margin-top:30px">
                    <h3>입고 등록</h3>
                    <input type="hidden" id="empName" name="empName" th:value="${ #authentication.getPrincipal().getEmpName()}">
                    <br>
                    <div class="col-12 d-flex justify-content-end">
                        <button class="btn btn-warning mx-2 open-btn" type="button" onclick="openLayer('layerPop',7, 12)" style="color:#fff;">품목 불러오기</button>
                        <button class="btn btn-light" type="button" onclick="deleteItem()" style="color:#fff; background-color: #ccc;">선택 삭제</button>
                        <div id="result2"></div>
                    </div>
                    <div id="layerPop" class="p-5" style="display:none; width: 75%; height: 800px; position: absolute; z-index: 1; overflow: hidden;">
                        <div class="my-4 d-flex justify-content-end">
                            <input type="hidden" name="itemNoList" id="result">
                            <button class="btn btn-warning me-1" type="button" style="color: #fff;" onclick='getCheckboxValue()'>품목 선택</button>
                        </div>
                        <div style="width:100%; height: 600px; overflow:auto;">
                            <table class="table" width="100%" id="receiveNewTable">
                                <thead>
                                <tr style="top: 0; position:sticky; background: #fff; z-index: 999;">
                                    <th>
                                        <div class="form-check pb-3">
                                            <input type="checkbox" class="form-check-input" id="cbx_chkAll1" required/>
                                        </div>
                                    </th>
                                    <th>상품코드</th>
                                    <th>썸네일</th>
                                    <th>상품명</th>
                                    <th>카테고리</th>
                                    <th>규격</th>
                                    <th>제조사(원산지)</th>
                                    <th>매입단가</th>
                                    <th>매출단가</th>
                                    <th>재고량</th>
                                    <th>품절여부</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr th:each="receiveItem : ${ receiveOfficeItemList }">
                                    <td>
                                        <div class="form-check">
                                            <input type="checkbox" class="form-check-input" name="chk1" th:value="${ receiveItem.itemNo }">
                                            <label class="form-check-label" for="check"></label>
                                        </div>
                                    </td>
                                    <td th:text="${ receiveItem.itemNo }">100000</td>
                                    <td>
                                        <div class="img-info">
                                            <div class="img-info__img">
                                                <img th:src="'/upload/itemImage/' + ${ receiveItem.itemFile.fileName }" alt="" onerror="this.onerror=null; this.src='/images/logo.png';">
                                            </div>
                                        </div>
                                    </td>
                                    <td th:text="${ receiveItem.itemName }">닭다리</td>
                                    <td th:text="${ receiveItem.categoryName }">식재료</td>
                                    <td th:text="${ receiveItem.itemStandard }">1kg</td>
                                    <td th:text="${ receiveItem.itemMake }">하림(국내산)</td>
                                    <td th:text="|${ #numbers.formatInteger(receiveItem.itemPurchase, 0, 'COMMA') }원|">5,500</td>
                                    <td th:text="|${ #numbers.formatInteger(receiveItem.itemSales, 0, 'COMMA') }원|">6,000</td>
                                    <td th:text="${ #numbers.formatInteger(receiveItem.itemAmount, 0, 'COMMA') }">100</td>
                                    <td th:if="${ receiveItem.itemSoldoutYn eq 'Y' }" >
                                        <span class="active-circle bg-danger"></span><span th:text="${ '품절' }"></span>
                                    </td>
                                    <td th:if="${ receiveItem.itemSoldoutYn eq 'N' }" >
                                        <span class="active-circle bg-success"></span><span th:text="${ '보유' }"></span>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>

                        <div class="close-btn">
                            <a href="#" onclick="closeLayer('layerPop')" class="close">
                                <i class="fa fa-times close" onclick="closeLayer('layerPop')"></i>
                            </a>
                        </div>
                    </div>
                    <table class="table" id="receiveTable">
                        <thead>
                        <tr>
                            <th>
                                <div class="form-check pb-3">
                                    <input type="checkbox" class="form-check-input" id="cbx_chkAll2" required/>
                                </div>
                            </th>
                            <th>번호</th>
                            <th>썸네일</th>
                            <th>상품명</th>
                            <th>상품코드</th>
                            <th>규격</th>
                            <th>재고 수량</th>
                            <th class="col-1">입고 수량</th>
                            <th>입고 단가</th>
                            <th>입고 금액</th>
                            <th>삭제</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr th:each="receive, stat : ${ registReceiveList }">
                            <td>
                                <div class="form-check">
                                    <input type="checkbox" class="form-check-input" name="chk2" th:value="${ receive.itemNo }"/>
                                    <label class="form-check-label" for="check"></label>
                                </div>
                            </td>
                            <td class="tdNum" th:text="${ stat.count }">1</td>
                            <td>
                                <div class="img-info">
                                    <div class="img-info__img">
                                        <img th:src="'/upload/itemImage/' + ${ receive.itemFile.fileName }" alt="" onerror="this.onerror=null; this.src='/images/logo.png';">
                                    </div>
                                </div>
                            </td>
                            <td th:text="${ receive.itemName }">닭다리</td>
                            <td class="receiveItemNo" th:text="${ receive.itemNo }" th:value="${ receive.itemNo }">100001</td>
                            <td th:text="${ receive.itemStandard }">ea</td>
                            <td th:text="${ #numbers.formatInteger(receive.itemAmount, 0, 'COMMA') }">1000</td>
                            <td align="center"><input type="number" class="form-control col-10 receiveAmount" id="receiveAmount" name="receiveAmount" min="1" max="1000" value="1" onchange="inputValueChange(this);" onkeydown="inputNumber(this);"></td>
                            <td th:text="|${ #numbers.formatInteger(receive.itemPurchase, 0, 'COMMA') }원|" id="itemPurchase" class="itemPurchase">4,500</td>
                            <td id="receiveItemMoney" class="receiveItemMoney" th:value="${ receive.itemPurchase}" th:text="|${ #numbers.formatInteger(receive.itemPurchase, 0, 'COMMA') }원|"></td>
                            <td><button class="btn btn-light" type="button" style="color:#fff; background-color: #ccc;" onclick="rowDel(this);">삭제</button></td>
                        </tr>
                        </tbody>
                        <tfoot>
                        <tr>
                            <th colspan="7"></th>
                            <th>총 입고 수량</th>
                            <th id="receiveTotalAmount" class="receiveTotalAmount"></th>
                            <th>총 입고 금액</th>
                            <th id="receiveTotalMoney" class="receiveTotalMoney"></th>
                        </tr>
                        </tfoot>
                    </table>
                </div>
                <div class="test"></div>
                <!-- E: table -->
                <div class="col-12 d-flex justify-content-center mb-4">
                    <button class="btn btn-light" type="button" style="color:#fff; background-color: #ccc;" onclick="location.href='/receive/admin/list'">취소</button>
                    <button class="btn btn-warning mx-2" type="button" style="color:#fff;" onclick="insertReceive()">입고</button>
                </div>
            </div>
        </div>
        <!-- E: main layout -->
    </div>
    <!-- E: container -->
</div>

<!-- table js -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>

<!-- 선택한 체크박스 값 가져오기 (입고할 품목 추가) -->
<script>
    function getCheckboxValue()  {
        // 선택된 목록 가져오기
        const query = 'input[name="chk1"]:checked';
        const selectedEls =
            document.querySelectorAll(query);

        // 선택된 목록에서 value 찾기
        let result = '';
        let itemNoVal = [];
        selectedEls.forEach((el) => {
            itemNoVal[itemNoVal.length] = el.value;
            result += el.value + ' ';
        });

        document.getElementById('result').innerText
            = itemNoVal;

        console.log(itemNoVal);
        closeLayer('layerPop');

        let form = document.createElement('form');

        let itemNoList = document.createElement('input');
        itemNoList.setAttribute('type', 'hidden');
        itemNoList.setAttribute('name', 'itemNoList');
        itemNoList.setAttribute('value', itemNoVal.toString());
        form.appendChild(itemNoList);
        form.setAttribute('method', 'post');
        form.setAttribute('action', '/receive/admin/list/regist');
        document.body.appendChild(form);
        form.submit();
    }
</script>

<!-- 삭제할 품목 체크하여 삭제 (여러 품목 삭제) -->
<script>
    function deleteItem(){
        if($("input:checkbox[name='chk2']:checked").length === 0){
            alert("삭제할 항목을 선택해주세요.");
            return;
        } else{
            let answer = confirm('선택한 항목을 삭제하시겠습니까?');
            if(answer){
                $("input:checkbox[name='chk2']:checked").each(function(k, kVal) {
                    let a = kVal.parentElement.parentElement.parentElement;
                    $(a).remove();
                    $("input:checkbox[id='cbx_chkAll2']").prop("checked", false);
                });
                alert('선택한 항목이 삭제되었습니다.');
            }
        }
        // 행 길이
        let rowLength = document.getElementById('receiveTable').tBodies[0].rows.length;

        // 총 입고 수량
        let receiveItemAmount = document.getElementsByClassName('receiveAmount');
        let receiveTotalAmount = 0;
        // 총 입고 금액
        let receiveItemMoney = document.getElementsByClassName('receiveItemMoney');
        let receiveTotalMoney = 0;

        // 헹의 길이만큼 반복문을 돌며 총 입고 수량/금액 계산
        for(let i = 0; i < rowLength; i++){
            receiveTotalAmount += Number(receiveItemAmount[i].value); // 숫자 형태로 변환 ('11' -> 11)
            receiveTotalMoney += parseInt(receiveItemMoney[i].innerHTML.replace(/[^0-9]/gi, '')); // 숫자 형태로 변환 (문자, ',' 제거) ('4,000원' -> 4000)
        }

        // 숫자에 천 단위로 콤마 적용 (toLocaleString)
        document.getElementById('receiveTotalAmount').innerText = receiveTotalAmount.toLocaleString("ko-KR");
        document.getElementById('receiveTotalMoney').innerText = receiveTotalMoney.toLocaleString("ko-KR") + "원";

        // 테이블 '번호'에 순서 부여
        let tdNum = document.getElementsByClassName('tdNum');
        for(let i = 0; i < rowLength; i++){
            tdNum[i].innerHTML = i + 1;
        }

    }
</script>

<!-- 개별 삭제 -->
<script>
    function rowDel(check){

        // row 삭제
        let tr = check.parentNode.parentNode;
        tr.parentNode.removeChild(tr);

        // th checkbox 체크 해제
        var total = $("input[name=chk2]").length;
        var checked = $("input[name=chk2]:checked").length;

        if(total != checked) $("#cbx_chkAll2").prop("checked", false);
        if(total == 0) $("#cbx_chkAll2").prop("checked", false);

        // row 길이
        let rowLength = document.getElementById('receiveTable').tBodies[0].rows.length;

        // 총 입고 수량, 총 입고 금액 계산
        let receiveItemAmount = document.getElementsByClassName('receiveAmount');
        let receiveTotalAmount = 0;
        let receiveItemMoney = document.getElementsByClassName('receiveItemMoney');
        let receiveTotalMoney = 0;

        for(let i = 0; i < rowLength; i++){
            receiveTotalAmount += Number(receiveItemAmount[i].value);
            receiveTotalMoney += parseInt(receiveItemMoney[i].innerHTML.replace(/[^0-9]/gi, ''));
        }
        document.getElementById('receiveTotalAmount').innerText = receiveTotalAmount.toLocaleString("ko-KR");
        document.getElementById('receiveTotalMoney').innerText = receiveTotalMoney.toLocaleString("ko-KR") + "원";

        // 테이블 '번호'에 순서 부여
        let tdNum = document.getElementsByClassName('tdNum');
        for(let i = 0; i < rowLength; i++){
            tdNum[i].innerHTML = i + 1;
        }
    }
</script>

<!-- 레이어 팝업 -->
<script>
    $(".detail-main").click(function() {
        $(this).next(".detail-sub-tr").find(".detail-sub").slideToggle(300);
        $(this).toggleClass('on').siblings().removeClass('on');
        $(this).next(".detail-sub-tr").find(".detail-sub").siblings(".detail-sub").slideUp(300);
    });

    // 레이어 열기
    function openLayer(IdName, tpos, lpos){
        var pop = document.getElementById(IdName);
        pop.style.display = "block";
        pop.style.top = tpos + "%";
        pop.style.left = lpos + "%";
    }

    // 레이어 닫기
    function closeLayer(IdName){
        var pop = document.getElementById(IdName);
        pop.style.display = "none";
    }
</script>

<!-- 총 입고수량 & 총 입고금액 초기값 -->
<script>
    // 총 입고 수량 계산 (품목 하나 당 초기 입고수량은 1개)
    let receiveTotalAmount = document.getElementById('receiveTable').tBodies[0].rows.length;
    document.getElementById('receiveTotalAmount').innerText = receiveTotalAmount.toLocaleString("ko-KR");

    // 총 입고 금액 계산
    let receiveItemMoney = document.getElementsByClassName('receiveItemMoney');
    let receiveTotalMoney = 0;
    for(let i = 0; i < receiveTotalAmount; i++){
        receiveTotalMoney += parseInt(receiveItemMoney[i].innerHTML.replace(/[^0-9]/gi, '')); // 숫자 형태로 변환
    }
    document.getElementById('receiveTotalMoney').innerText = receiveTotalMoney.toLocaleString("ko-KR") + "원";
</script>

<!-- 자동계산 -->
<script>
    // 입고 수량 input 값이 변경될 때마다 실행되는 함수
    function inputValueChange(check){

        console.log(check);

        // 입고 수량
        let inputValue = $(check.parentElement)[0].children[0].value;
        console.log(inputValue);

        // 입고 금액
        let itemPurchase = parseInt($(check.parentElement).siblings()[7].innerText.replace(/[^0-9]/gi, ''));
        // 입고 금액 = 입고 수량 * 입고 단가
        let receiveItemMoney = inputValue * itemPurchase;
        $(check.parentElement).siblings()[8].innerText = receiveItemMoney.toLocaleString('ko-KR') + "원";

        // 총 입고수량 & 총 입고금액
        let inputValueTot = document.getElementsByClassName('receiveAmount');
        let itemMoneyTot = document.getElementsByClassName('receiveItemMoney');
        let receiveTotalAmount = 0;
        let receiveTotalMoney = 0;

        // 등록된 품목 갯수만큼 반복문을 돌면서 총 입고 수량/금액 계산
        for(let i = 0; i < inputValueTot.length; i++){
            receiveTotalAmount += Number(inputValueTot[i].value);
            receiveTotalMoney += parseInt(itemMoneyTot[i].innerText.replace(/[^0-9]/gi, ''));
        }

        console.log(receiveTotalAmount);
        console.log(receiveTotalMoney);

        document.getElementById('receiveTotalAmount').innerText = receiveTotalAmount.toLocaleString('ko-KR');
        document.getElementById('receiveTotalMoney').innerText = receiveTotalMoney.toLocaleString('ko-KR') + "원";

    }
</script>

<!-- 입고 등록 -->
<script>
    function insertReceive(){
        let rowLength = document.getElementById('receiveTable').tBodies[0].rows.length;
        let empNameHidden = document.getElementById('empName').value;
        console.log(empNameHidden);

        if(rowLength == 0){
            alert('입고할 품목을 등록해주세요.');
        } else{
            if(confirm('입고를 진행하시겠습니까?')){

                // 입고 품목을 담을 배열 생성
                let receiveItem = [];
                let receiveItemNo = '';
                let receiveAmount = '';

                // 품목 번호와 입고 수량 하나씩 등록
                for(let i = 0; i < rowLength; i++){
                    receiveItemNo = document.getElementsByClassName('receiveItemNo')[i].innerHTML;
                    receiveAmount = document.getElementsByClassName('receiveAmount')[i].value;
                    receiveItem[i] = receiveItemNo + ' ' + receiveAmount;
                }

                console.log(receiveItem);
                let form = document.createElement('form');

                let registList = document.createElement('input');
                registList.setAttribute('type', 'hidden');
                registList.setAttribute('name', 'registList');
                registList.setAttribute('value', receiveItem.toString());

                let empName = document.createElement('input');
                empName.setAttribute('type', 'hidden');
                empName.setAttribute('name', 'empName');
                empName.setAttribute('value', empNameHidden);

                form.appendChild(registList);
                form.appendChild(empName);
                form.setAttribute('method', 'post');
                form.setAttribute('action', '/receive/admin/regist');
                document.body.appendChild(form);
                form.submit();
            }
        }
    }
</script>

<!-- 체크박스 전체 선택 및 해제 -->
<script type="text/javascript">
    $(document).ready(function() {

        $("#cbx_chkAll1").click(function() {

            if($("#cbx_chkAll1").is(":checked")) $("input[name=chk1]").prop("checked", true);
            else $("input[name=chk1]").prop("checked", false);
        });

        $("input[name=chk1]").click(function() {
            var total = $("input[name=chk1]").length;
            var checked = $("input[name=chk1]:checked").length;

            if(total != checked) $("#cbx_chkAll1").prop("checked", false);
            else $("#cbx_chkAll1").prop("checked", true);
        });

        $("#cbx_chkAll2").click(function() {
            if($("#cbx_chkAll2").is(":checked")) $("input[name=chk2]").prop("checked", true);
            else $("input[name=chk2]").prop("checked", false);
        });

        $("input[name=chk2]").click(function() {
            var total = $("input[name=chk2]").length;
            var checked = $("input[name=chk2]:checked").length;

            if(total != checked) $("#cbx_chkAll2").prop("checked", false);
            else $("#cbx_chkAll2").prop("checked", true);
        });
    });
</script>
</body>
</html>